@use "./modules/variables/variables";
@use "./modules/mixin/mixin";

.button {
  font-size: var(--text-lg);
  padding: var(--space-xs) var(--space-xs);
  border: 1px solid var(--gray-50);
  color: var(--black);
}
.button.night {
  color: var(--white);
  border: 1px solid var(--white);
}
