@use "./modules/variables/variables";
@use "./modules/mixin/mixin";

.container{
  @include mixin.inner;
  position: relative;
  z-index: 10;
}

.section{
  padding-top: 10vw;
  padding-bottom: 10vw;
}