@use "./modules/variables/variables";
@use "./modules/mixin/mixin";

.container {
  position: fixed;
  inset: 0;
  z-index: 10;
  user-select: none;
}


.background {
  position: fixed;
  inset: 0;
  z-index: -10;
  background-image: url("/space.webp");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
