@use "./modules/variables/variables";
@use "./modules/mixin/mixin";

.list {
  display: flex;
  gap: var(--space-xs);
}

.item {
  font-size: 32px;
  width: 40px;
  aspect-ratio: 1/1;
  display: grid;
  justify-items: center;
  align-items: center;
  a {
    color: var(--gray);
  }
}

.night {
  a {
    color: var(--white);
  }
}
