@use "./modules/foundation/foundation";
@use "./modules/variables/variables";
@use "./modules/mixin/mixin";
@use "./modules/utility/utility";

body {
  height: 100vh;
  overflow: hidden;
}
@include mixin.medium {
  //タブレット
  body {
    height: 100svh;
  }
}
