@use "./modules/foundation/foundation";
@use "./modules/variables/variables";
@use "./modules/mixin/mixin";
@use "./modules/utility/utility";

body {
  position: relative;
  z-index: 0;
  min-height: 100%;
}

